.App {
  height: 100vh;
}

.navbar {
  background-color: darkblue;
  color: white;
  height: 40px;
  font-size: 2em;
  text-align: center;
}

.login-page {
  height: 100vh;
  padding-top: 30vh;
}

.login-box {
  width: 30%;
  margin: auto;
  padding: 3em;
  border-radius: 1em;
  background-color: lightblue;
}

form {
  font-size: 1.3em;
  color: darkblue;
  text-align: center;
}

form > label {
  padding: 1.5em;
  display: block;
}

label > input {
  margin-top: 1em;
  padding: .6em;
  width: 100%;
}