.App {
  height: 100vh;
  font-family: 'Mukta Vaani', sans-serif;
  background-color: linen
}

.navbar {
  background-color: navy;
  color: ivory;
  font-size: 3em;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: .2em 0em;
}

.login-page {
  height: 100vh;
  padding-top: 20vh;
}

.login-box {
  width: 30%;
  min-width: 200px;
  margin: auto;
  padding: 3em;
  border-radius: 1em;
  background-color: lightblue;
}

form {
  font-size: 1.3em;
  color: darkblue;
  text-align: center;
}

form > label {
  padding: 1.5em;
  display: block;
}

label > input {
  margin-top: 1em;
  padding: .6em;
  width: 100%;
}

.price-container {
  background-color: linen;
  display: flex;
  justify-content: space-between;
  padding: 0em 10em;
  margin: auto;
  border-bottom: 1px solid black;
}

.price-entry {
  margin: .4em 0em;
  padding: .7em;
  border: 1px solid navy;
  border-radius: 3em;
}