.App {
  height: 100vh;
}

.navbar {
  background-color: darkblue;
  color: white;
  height: 40px;
  font-size: 2em;
  text-align: center;
}

.login-page {
  height: 100vh;
  padding-top: 30vh;
}

.login-box {
  width: 20%;
  margin: auto;
  padding: 40px;
  border-radius: 4px;
  background-color: lightblue;
}

.login-box > div {
  padding: 10px;
}

input {
  float: right;
}